{# Menggunakan komponen Flowbite untuk tampilan yang lebih baik #}

{# 1. Info Alert untuk file yang sudah ada #}
{% if widget.is_initial %}
    <div id="alert-1" class="flex items-center p-4 mb-4 text-blue-800 rounded-lg bg-blue-50 dark:bg-gray-800 dark:text-blue-400" role="alert">
        <svg class="flex-shrink-0 w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
            <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
        </svg>
        <span class="sr-only">Info</span>
        <div class="ms-3 text-sm font-medium">
            Saat ini: <a href="{{ widget.value.url }}" target="_blank" class="font-semibold underline hover:no-underline">{{ widget.value.name|truncatechars:30 }}</a>
        </div>
    </div>
{% endif %}


{# 2. Checkbox Hapus (jika file tidak wajib) #}
{% if widget.is_initial and not widget.required %}
    <div class="flex items-center mb-4">
        <input id="{{ widget.checkbox_id }}" name="{{ widget.checkbox_name }}" type="checkbox" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
        <label for="{{ widget.checkbox_id }}" class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">Hapus foto profil saat ini.</label>
    </div>
{% endif %}


{# 3. File Input Utama dengan styling Flowbite #}
<label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white" for="{{ widget.name }}">
    {% if widget.is_initial %}
        Ganti dengan foto baru:
    {% else %}
        Unggah Foto Profil:
    {% endif %}
</label>
<input name="{{ widget.name }}" {% include "django/forms/widgets/attrs.html" %} type="{{ widget.type }}"
    class="block w-full text-sm text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-50 dark:text-gray-400 focus:outline-none dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400" >
    Metode HTTP  yang digunakan untuk menghapus sumber daya menggunakan layanan web RESTful adalah:

